<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frozen App</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
    <header class="header">
        <h1>Frozen Apps</h1>
        <div>
            <a href="/settings"><i class="so so-gear"></i></a>
        </div>
    </header>

    <div class="container">
        <h4>File manager</h4>
        <li>
            <p><i class="so so-folder"></i> <span>File Explorer</span></p>
            <a href="/explorer"><button><i class="so so-running"></i></button></a>
        </li>
        <li>
            <p><i class="so so-upload"></i> <span>File Upload</span></p>
            <a href="/explorer-upload"><button><i class="so so-running"></i></button></a>
        </li>
    </div>
</body>

</html>