<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frozen server account</title>
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="../assets/css/water.css">
    <link rel="stylesheet" href="../assets/css/login.css">
</head>

<body>

    <div class="container">
        <form action="/form/login" method="post">
            <h1>Frozen server</h1>
            <h2>Login</h2>
            <input type="text" name="username" required placeholder="Username">
            <input type="password" name="password" required placeholder="Password">
            <input type="submit">
        </form>
    </div>
</body>

</html>